__pycache__

.idea
.vscode
.DS_Store
.coverage*
!.coveragerc

*.pyc
*.ipynb
*.env
*.env.*

.venv
*node_modules/
notebooks/

workspace/*
!workspace/demo/
!workspace/__init__.py
!workspace/properties.json
dump.rdb
server.toml
worker.toml